<!-- 
enable this if spam seems to increase with email being public
<div id="liame"><noscript>Sorry but email is not provided without JavaScript enabled</noscript></div> 
<script>
  (function showEmail() {
  document.getElementById('liame').innerText = ['f','s','j','d','A','f','s','j','d','z','e','/','d','p','n']
    .map(function(letter) {
      console.log(letter);
      return String.fromCharCode(letter.charCodeAt(0) - 1);
    })
    .join('')
  })()
</script>
-->

<section class="contact">
  <h2>Get in touch</h2>
  <p>
    I provide my email address here with the confidence that it will not be abused.
    Necessary emails only, please:
  </p>
  <!-- TODO: add gmail and other webmail links -->
  <div id="liame">
    <span class="sr-only">My email is: </span>eric@ericyd.com
  </div>
  <p>
    I would be particularly interested in hearing from you if you meet any of the below criteria:
    <ul class="contact__reason-list">
    {% for reason in site.data.contact.reasons %}
      <li class="contact_reason">{{ reason }}</li>
    {% endfor %}
    </ul>
  </p>
</section>