<!-- 
enable this if spam seems to increase with email being public
<div id="liame"><noscript>Sorry but email is not provided without JavaScript enabled</noscript></div> 
<script>
  (function showEmail() {
  document.getElementById('liame').innerText = ['f','s','j','d','A','f','s','j','d','z','e','/','d','p','n']
    .map(function(letter) {
      console.log(letter);
      return String.fromCharCode(letter.charCodeAt(0) - 1);
    })
    .join('')
  })()
</script>
-->

<h2 class="section__header">{{ site.data.sections.contact.title }}</h2>

<div class="tile">
  <p>{{ site.data.sections.contact.description }}</p>
  <!-- TODO: add gmail and other webmail links -->
  <div id="liame" class="contact__email">
    <span class="sr-only">My email is: </span>{{ site.email }}
  </div>
</div>
