<footer class="section" id="footer">
    <div class="footer-section">
        <h3 class="footer-section__header">Contents</h3>
        <ul class="footer-section__list">
            {% for link in site.data.sections %}
            <!-- must use link[1] because we're iterating over a hash table
            https://stackoverflow.com/questions/8206869/iterate-over-hashes-in-liquid-templates -->
            <li><a href="{{ link[1].href }}" class="footer__link">{{ link[1].caption }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="footer-section">
        <h3 class="footer-section__header">Profiles</h3>
        <ul class="footer-section__list">
            {% for link in site.data.profiles %}
            <li><a href="{{ link.href }}" class="footer__link">{{ link.caption }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="footer-section">
        <h3 class="footer-section__header">Accessibility</h3>
        {{ site.accessibility_statement }}
    </div>

    <div class="footer-section">
        <h3 class="footer-section__header">Fair use</h3>
        Unless otherwise specified, all content on this site is licensed under the 
        <a href="https://opensource.org/licenses/GPL-3.0" class="footer__link">GPL-3</a> license
    </div>
</footer>