<div class="text">
  <svg>
   <defs>
     <!-- Define text so it can be used in the clip path and the mask -->
     <text id="title" x="0" y="0" dx="2.5em" dy="1.78em">eric y. d.</text>
     <mask id="mask" x="0" y="0" width="100%" height="150px" >
       <!-- alpha rectangle -->
       <rect id="alpha" x="0" y="0" width="100%" height="150px"/>
       <!-- All text that you want -->
       <use href="#title" class="title"/>
     </mask>
     
     <mask id="mask2" x="0" y="0" width="100%" height="100%" >
       <!-- offset rectangle by the height of alpha1.
That height represents the cut point between fill and cutout-->
       <rect id="alpha2" x="0" y="150" width="100%" height="100%"/>
     </mask>
     
     <clipPath id="clip1" x="0" y="0" width="100%" height="100%" >
       <use href="#title" class="title"/>
     </clipPath>
    </defs>
    <!-- Apply color here! -->
    <rect id="cutout" x="0" y="0" width="100%" height="100%"/>
    <rect id="fillin" x="0" y="0" width="100%" height="100%"/>
  </svg>
</div>
