<div class="header-section">
  <button class="toggle-menu">
    <span class="visually-hidden">Open Menu </span>
    {% include icon-menu.html %}
  </button>
</div>
<div class="header-section">
  <h1 class="header__title">
    Eric
    Y<span class="no-phone">ancey</span><span class="only-phone">.</span> 
    D<span class="no-phone">auenhauer</span><span class="only-phone">.</span>
  </h1>
  <div class="header__description">
    <b>{{ site.headline }}</b>
    <!-- Removed on 7/30/2017, not sure it adds much to the site
      <span class="no-phone">{{ site.description }}</span> -->
  </div>
</div>