<nav class="collapsed">
  <div class="only-phone">
    <button class="toggle-menu">
      <span class="visually-hidden">Close Menu </span>
      {% include icon-close.html %}
    </button>
  </div>
  <!--reads from `_data/nav.json`-->
  {% for link in site.data.nav %}
  <div>
    <a href="{{ link.href }}"
      class="nav__link {% if link.href == page.url %}active{% endif %} svg-primary"
      id="{{ link.id }}"
      {% if link.internal != true %}target="_blank"{% endif %}
      itemprop="name">
      {{ link.caption }}
      {% if link.internal != true %} {% include icon-external-link.html %}{% endif %}
    </a>
  </div>
  {% endfor %}
  <div>
    <a class="nav__link" id="contactlink" itemprop="name" tabindex="0">Contact</a>
    <div tabindex="0" id="contacteric"><span id="email-holder"></span>
      <button id="email-select"><span class="visually-hidden">select email address text</span>
        {% include icon-select2.html %}
      </button>
    </div>
  </div>
</nav>