<h2 class="section__header">{{ site.data.sections.projects.title }}</h2>

{% if site.data.sections.projects.description %}
<p>{{ site.data.sections.projects.description }}</p>
{% endif %}

{% for project in site.data.projects %}
<div class="project">
  <h3 class="project__title">{{ project.title }}</h3>
  <div class="align_left">
    <p class="project__description">
      {{ project.description }}
    </p>
    <div>
      <strong>Key skills:</strong>
    </div>
    <ul>
    {% for skill in project.key_skills %}
      <li>{{ skill }}</li>
    {% endfor %}
    </ul>
  </div>
  <a href="{{ project.link_href }}" class="project__link">{{ project.link_text }}</a>
</div>
{% endfor %}