{% for project in site.data.projects %}
<section class="project">
  <h2 class="project__title">{{ project.title }}</h2>
  <p class="project__description">{{ project.description }}</p>
  <a href="{{ project.link_href }}" class="project__link">{{ project.link_text }}</a>
</section>
{% endfor %}

<!-- 
<h3>GED tutoring</h3>
<p>
Since October 2015, I have been volunteering as a tutor at the Londer Learning Center (LLC), a GED program administered by Multnomah County for adult learners who are transitioning out of incarceration. I have had the opportunity to tutor in all four of the GED subjects, but I primarily focus on math. I enjoy tutoring math because it is a subject that causes substantial anxiety for a lot of students, and it is wonderful to see a student go from afraid to confident in a subject so important.
</p>
<p>
Sadly, the LLC funding was cut in the 2017 budget, and is closing in December. That means my remaining time there is limited, but I hope to find other ways to stay active in the community and enhance the education opporunities for marginalized communities.
</p>


<h3>WCAG 2.0 Accessibility testing</h3>
<p>
As a part of my current position as a Quality Assurance Specialist at A-VIBE, I took the initiative to educate myself about the current state of web accessibility standards. I took a deep dive into WCAG 2.0 and found a bounty of resources to help develop our testing strategy around accessibility. After presenting to our team about best development practices and testing methods, I developed an accessibility test plan that is now used company-wide.
</p>
<p>
I hope to be able to continue advocating for an accessible web and working towards universal accessibility. It is an achievable goal as long as organizations and companies are willing to invest in it. As I have found, increasing web accessibility often results in a better experience for all users.
</p>


<h3>Web application development</h3>
<p>
For several years now I've been learning and practicing web development in my free time. I've done "web design" for many years, writing my first professional HTML and CSS site when I was 16 for a friend's business. (It's still available online, but I won't tell you where.) Recently I've become enamored with building rich applications and have spent a lot of time learning more about full stack web development. My "first love" was JavaScript, and I keep finding more rabbit holes to follow in the Node universe and always-expanding array of front end frameworks.
</p>
<p>
My first foray into an "app" was a utility for Google Drive to copy a folder (surprisingly, not native functionality).  I developed a Google Apps Script program that does just this, and decided to make it open source.  It is [hosted on Github](https://github.com/ericyd/gdrive-copy) and also available through the [Chrome Web Store](https://chrome.google.com/webstore/detail/copy-folder/kfbicpdhiofpicipfggljdhjokjblnhl).
</p>
<p>
More recently, I built my first true "full stack" application, which is a simple ledger (basically just a CRUD application to track finances).  I used Express as the backend coupled with MongoDB, and decided to use the new [Svelte](https://svelte.technology/) framework for the front end. It is hosted for free [through Heroku](http://peledger.herokuapp.com/) and the source code is also available [on Github](https://github.com/ericyd/ledger).
</p> -->