<section class="projects">
  <h2>{{ site.data.sections.projects.title }}</h2>
  {% if site.data.sections.projects.description %}
  <p>{{ site.data.sections.projects.description }}</p>
  {% endif %}
</section>
<section class="project-container">
  {% for project in site.data.projects %}
  <div class="project">
    <h3 class="project__title">{{ project.title }}</h3>
    <p class="project__description">{{ project.description }}</p>
    <strong>Key skills:</strong>
    <ul>
    {% for skill in project.key_skills %}
      <li>{{ skill }}</li>
    {% endfor %}
    </ul>
    <a href="{{ project.link_href }}" class="project__link">{{ project.link_text }}</a>
  </div>
  {% endfor %}
</section>
