// This provides a class for text that should be readable by screen readers
// but hidden from sighted users
// Thanks: https://ebay.gitbooks.io/mindpatterns/content/techniques/offscreentext.html
.visually-hidden {
  border: 0 !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  overflow: hidden;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.keyboard-only {
  @extend .visually-hidden;

  &:focus {
    height: auto !important;
    width: auto !important;
    left: 0;
    clip: initial;
    overflow: initial;
    background-color: $primary;
    color: #000;
  }
}