#footer {
  font-size: 14px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}

.footer-section {
  margin: 2em;
  width: 200px;
  flex: 1 1 auto;

  .footer-section__header {
    font-size: 0.7rem;
    font-weight: bold;
    margin-bottom: 1em;
  }
  .footer-section__list {
      padding: 0;
      margin: 0;
  
      li {
        list-style-type: none;
      }
  
    }
  }
.footer__link {
  cursor: pointer;
  color: rgb(200,200,200);
  // text-decoration: none;
  
  &:hover {
    color: rgb(150,150,150);
  }

  &:active,
  &:link,
  &:visited {
    color: rgb(200,200,200);
  }
}

