


* {
  box-sizing: border-box;
  @include default-transition($prop: font-size);
}

html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    margin: 0;
    padding: 0;
    font-size: $font-size-base * 0.75;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $font-family-default;

    @include for-tablet-portrait-up {
      font-size: $font-size-base;
    }
}

a {
    cursor: pointer;
    color: rgb(50,50,50);
    // text-decoration: none;
    
    &:hover {
        color: rgb(150,150,150);
    }

    &:active,
    &:link,
    &:visited {
        color: rgb(50,50,50);
    }
}

.keyboard-only {
  position: absolute;
  top: 0;
  left: 0;
  color: transparent !important;
  background-color: transparent;

  &:focus {
    color: #000  !important;
    // background-color: #000;
  }
}

// screen-reader only class
.sr-only {
  position: absolute !important;
  height: 1px !important;
  width: 1px !important;
  clip: rect(1px,1px,1px,1px) !important;
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px) !important;
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px) !important;
  overflow: hidden !important;
}