$text-position: $header-height - 65px;

.header__logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  display: block;
  font-size: 80px;
  font-family: 'Encode Sans Condensed', sans-serif;

  .header__text {
    position: absolute;
    top: $text-position;
    left: 10px;
    font-family: 'Encode Sans Condensed', sans-serif;
  }
  .header__text--white {
    color: #fff;
    clip-path: inset(0px 0px 35px 0px);
  }
  
  .header__text--blue {
    color: $color-base;
  }
}

.navigation {
  list-style: none;
  margin: 0; 
  background: $color-base;
  height: $header-height;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;

  @include for-phone-only {
    padding: 0;
  }

  @include for-tablet-portrait-up {
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  @include for-desktop-up {
    justify-content: flex-end;
    align-items: stretch;
  }
}

.navigation__link {
  @include default-transition();
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 100%;
  color: white !important;
  font-size: 0.75em;
  text-align: center;
  padding: 10px;
  border-top: 1px solid rgba(255,255,255,0.3);
  border-bottom: 1px solid rgba(0,0,0,0.1);

  &:hover {
    background: darken($color-base, 10%);
  }

  &:last-of-type .navigation__link {
    border-bottom: none;
  }

  @include for-tablet-portrait-up {
    padding: 0 1em;
    border: 0;
  }
}
