$text-position: $header-height - 65px;

.header__logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  display: block;
  font-size: 80px;
  font-family: 'Encode Sans Condensed', sans-serif;

  .header__text {
    position: absolute;
    top: $text-position;
    left: 10px;
    font-family: 'Encode Sans Condensed', sans-serif;
  }
  .header__text--white {
    color: #fff;
    clip-path: inset(0px 0px 35px 0px);
  }
  
  .header__text--blue {
    color: $color-base;
  }
}

.navigation {
  list-style: none;
  margin: 0; 
  background: $color-base;
  height: $header-height;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: stretch;
}

.navigation__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1em;
  height: 100%;
  color: white !important;
  transition: all 0.3s;
}

.navigation__link:hover {
  background: darken($color-base, 10%);
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation__link { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .navigation li:last-of-type .navigation__link {
    border-bottom: none;
  }
}