.intro__selfie {
  height: 10em;
  // background: url('/assets/eric_dauenhauer.jpg') 50px 0px no-repeat;
  // clip-path: circle(40%);
  clip-path: url(#intro__selfieClip);
  margin: -5em auto 0 auto;
}

.intro__caption {
  text-align: center;
}

.intro__more-arrow {
  margin-top: 2em;
  transform: rotate(90deg);

  svg {
    width: 4em;
    height: 4em;
  }
}