a {
  text-transform: uppercase;
  border-bottom: 1px solid $primary;
  letter-spacing: 0.17em;
  font-size: 0.85em;
  padding: 0 0 3px 0;
  color: $primary;
  text-decoration: none;

  &:hover {
    border: none;
    color: $secondary;
  }

  // this is necessary for accessibility, even if I don't like the way it looks
  // &:focus {
  //   outline: 0;
  // }
}
