//
// Nav
//
nav {
  // thanks to jPushMenu for this inspiration
  // https://github.com/takien/jPushMenu/blob/1e960b77fb3666434a580eb6980403b049f79355/css/jPushMenu.css
  @include default-transition();
  border-right: 1px solid darken($body-bg, 20%);
  background-color: $body-bg;
  padding: 1em 0 0 1em;
  position: fixed;
  top: 0;
  width: $sidebar-width;
  height: $body-height;
  z-index: 1000;
  overflow-y: auto;

  // toggling class is handled in /src/js/main.js
  &.collapsed {
    left: -$sidebar-width;
  }

  &.expanded {
    left: 0;
  }

  @include for-tablet-landscape-up {
    position: relative;
    height: auto;
    width: auto;
    border: 0;
    &.collapsed {
      left: 0;
    }

    &.expanded {
      left: 0;
    }

    @include fadein();
  }

  @include for-print {
    display: none;
  }
}

.nav__link,
#contacteric {
  cursor: pointer;
  color: $primary;
  display: block;
  width: 100%;
  border: 0;
  text-decoration: none;
  text-transform: initial;
  line-height: 1.2em;
  font-size: 1em;
  letter-spacing: 0;
  padding: 10px 0px 10px 0px;
  &.active,
  &:hover {
    color: $secondary;
  }
}

#contacteric {
  display: none;
}

.toggle-menu {
  cursor: pointer;
  background: none;
  border: 0;
  height: 2em;
  width: 2em;
  padding: 0;
  margin: 0 1em 0 0;

  svg {
    width: 2em;
    height: 2em;
  }

  @include for-tablet-landscape-up {
    display: none;
  }

  @include for-print {
    display: none;
  }
}

.header-section {
  display: table-cell;
}

.push-body {
  overflow-x: hidden;
}

#email-select {
  border: 0;
  background: none;
  position: relative;
  top: 0.25em;
  padding: 0.25em;
  border: 1px solid #000;
  margin-top: -1.5em;
  border-radius: 0.25em;

  svg {
    width: 2em;
    height: 2em;
    position: relative;
    top:0.15em;
    left: 0.1em
  }
}
