$project-color-1: #A3D3E3;
$project-color-2: #E3B3A3;
$project-color-3: #D3A3E3;

@mixin projectN($color) {
  background-color: $color;

  .project__link {
    border: 1px solid darken($color, 20%);
    color: darken($color, 50%);
    @include default-transition();

    &:hover,
    &:focus {
      background-color: darken($color, 20%);
      border: 1px solid darken($color, 30%);
      color: darken($color, 60%);
    }
  }
}

.projects {
  @include section();
  background-color: lighten($base-color, 10%);
  text-align: center;
}

.project-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
}

.project {
  background-color: $color-base;
  flex: 0 1 auto;
  padding: 1em;
  width: 100%;
  @include for-tablet-landscape-up {
    width: 50%;
  }
}

.project__link {
  text-decoration: none;
  display: inline-block;
  padding: 1em;
}

.project:nth-of-type(3n - 1) {
  @include projectN($project-color-1);
}

.project:nth-of-type(3n) {
  @include projectN($project-color-2);
}

.project:nth-of-type(3n+1) {
  @include projectN($project-color-3);
}

.project__title {

}

.project__description {
  margin: 2em 0;
}