

//== Navbar
$height-mask: 150px;
$height-clip: 250px;
$header-height: 60px;
$sidebar-width: 320px;
$body-height: 100vh;

//== Colors

// greens, yellow, dark brown/gray
$brand-color-1: #30282f;
$brand-color-1__font: #ddd;
$brand-color-2: #70616c;
$brand-color-2__font: #ddd;
$brand-color-3: #dace8c;
$brand-color-3__font: $brand-color-1;
$brand-color-4: #7bd74a;
$brand-color-4__font: $brand-color-1;
$brand-color-5: #289900;
$brand-color-5__font: $brand-color-1;

// sunset
$brand-color-1: #0a463c;
$brand-color-1__font: #ddd;
$brand-color-2: #259086;
$brand-color-2__font: #000;
$brand-color-3: #b6d2dd;
$brand-color-3__font: #222;
$brand-color-4: #fceec7;
$brand-color-4__font: $brand-color-3__font;
$brand-color-5: #e45149;
$brand-color-5__font: #000;

// http://colorbrewer2.org/#type=sequential&scheme=PuBu&n=5
$brand-color-1: #f1eef6;
$brand-color-1__font: #222;
$brand-color-2: #bdc9e1;
$brand-color-2__font: #222;
$brand-color-3: #74a9cf;
$brand-color-3__font: #222;
$brand-color-4: #2b8cbe;
$brand-color-4__font: #222;
$brand-color-5: #045a8d;
$brand-color-5__font: #222;

// http://colorbrewer2.org/#type=sequential&scheme=PuBu&n=5 simplified
$brand-color-1: #74a9cf;
$brand-color-1__font: #222;
$brand-color-2: lighten($brand-color-1, 10%);
$brand-color-2__font: $brand-color-1__font;
$brand-color-3: lighten($brand-color-1, 20%);
$brand-color-3__font: $brand-color-1__font;
$brand-color-4: darken($brand-color-1, 10%);
$brand-color-4__font: $brand-color-1__font;
$brand-color-5: darken($brand-color-1, 20%);
$brand-color-5__font: $brand-color-1__font;

$footer-background: $brand-color-1__font;
$footer-font: $brand-color-1;

$navbar-background: $footer-background;
$navbar-font: $footer-font;

//== Typography
// $source-sans-pro: 'Source Sans Pro';
// $fira-sans: 'Fira Sans';
// $fira-sans-condensed: 'Fira Sans Condensed';
// $font-family-backups: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $font-family-body: $source-sans-pro, $font-family-backups;
// $font-family-header: $fira-sans, $font-family-backups;
$font-family-default: 'Open Sans', sans-serif;
$font-family-title: 'Abril Fatface', cursive;
$font-size-base: 22px;

$line-height-base: 1.65;


@mixin default-transition($prop: all, $time: 0.3s, $timingFunc: ease) {
  -webkit-transition: $prop $time $timingFunc;
  -moz-transition: $prop $time $timingFunc;
  transition: $prop $time $timingFunc;
}

@mixin section {
  padding: 1.5em 1em;
  margin: 0;
  border: 0;

  @include for-tablet-portrait-up {
    padding: 3em 2em;
  }

  @include for-tablet-landscape-up {
    padding: 2em 4em;
  }
}